<header role="banner" id="header" class="global-header fixed">
  <div id="skip-to-content">
    <a href="#main-content">Skip to Main Content</a>
  </div>
  <!-- Include Utility Header -->
  <app-utility-header></app-utility-header>
  <!-- Settings Bar -->
  <app-settings-bar></app-settings-bar>
  <!-- Include Branding -->
  <app-branding-lightgrey></app-branding-lightgrey>
  <!-- Include Mobile Controls -->
  <app-mobile-controls></app-mobile-controls>

  <div class="navigation-search full-width-nav container">
    <div id="head-search" class="search-container featured-search">
      <!-- Include Search -->
      <app-search></app-search>
    </div>
    <!-- Include Navigation -->
    <app-navigation></app-navigation>
  </div>
</header>

<router-outlet></router-outlet>

<app-global-footer></app-global-footer>
