<div id="main-content" class="main-content">
  <!-- Include for optional slideshow banner -->
  <section aria-label="hero banner">
    <app-header-large-banner></app-header-large-banner>
  </section>

  <main class="main-primary" id="main">
    <!-- Begin Main Content -->
    <app-section-icon-blocks></app-section-icon-blocks>
    <app-section-service-advertisement></app-section-service-advertisement>
    <app-section-green-stats></app-section-green-stats>
    <app-news></app-news>
    <app-section-footer2></app-section-footer2>
    <!-- End Main Content -->
  </main>
</div>
